@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=DM+Sans:wght@400;500&display=swap');

body {
    background-color: rgb(251, 251, 251);
    font-family: 'DM Sans', sans-serif;
}

.bar {
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    gap: 20px;
          font-family: 'DM Sans', sans-serif;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 20px;
    transition:
        background 0.15s,
        color 0.15s;
}

.nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}
.nav-buttons {
    display: flex;
    gap: 10px;
}

.button-upload {
    background-color: rgba(90, 124, 106, 08);
    border: 1px solid rgb(200, 200, 200);
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.button-upload:hover {
    background-color: rgba(90, 124, 106, 0.7);
}

.button-login {
    background-color: transparent;
    border: 1px solid rgb(200, 200, 200);
    color: black;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;

}


.button-login:hover {
    background-color: rgba(200, 200, 200, 0.1);
}

